<% provide(:title, 'Sign Up') %>
<div class="container">
	<h1>Sign Up</h1>
	<div class="col-md-6 col-md-offset-3">
		<%= form_with(model: @user) do |form| %>
			<%= render 'shared/error_messages' %>
			<div class="mb-3 form-group">
				<%= form.label :name%>
				<%= form.text_field :name, class:"form-control", placeholder: "Name"%>
			</div>
			
			<div class="mb-3 form-group">
				<%= form.label :email%>
				<%= form.email_field :email, class:"form-control", placeholder: "User@example.com"%>
			</div>
			<div class="mb-3 form-group">
				<%= form.label :password%>
				<%= form.password_field :password, class:"form-control", placeholder: "Password"%>
			</div>
			<div class="mb-3 form-group">
				<%= form.label :password_confirmation%>
				<%= form.password_field :password_confirmation, class:"form-control", placeholder: "Password Confirmation"%>
			</div>
			<div class="mb-3 form-group">
				<%= form.submit "Sign Up", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
